<p>
    <mat-toolbar color="primary">
      <span>Navare</span>   
    </mat-toolbar> 
</p>
   <br> 

   <div class="header">
     <app-header *ngIf="jobBookingForm && headers"  [headers]="headers"></app-header>
   </div>
   

<br><br>
<div class="containerr">
    <div class="senderDiv">
      sender
        <app-sender [sender]="sender"></app-sender>
    </div>
    <div class="reciverDiv">
      reciver
         <app-reciver [reciver]="reciver"></app-reciver>
    </div>
</div>
<br><br>
<div class="productHeader">
  <app-products [product]="product"></app-products>
</div>
<br>
<div class="right-align">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
  
   
  