
<form [formGroup]="sender">
<div class="Row">
    <mat-form-field class="example-full-width">
        <mat-label>Country</mat-label>
        <input matInput placeholder="" formControlName="country">
      </mat-form-field>
      <mat-form-field>
        <mat-select required>
          <mat-option>hi</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label>Company</mat-label>
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>Find Address</mat-label>
    <input matInput placeholder="" formControlName="findAddress">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Building</mat-label>
    <input matInput placeholder="" formControlName="building">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Street No.</mat-label>
    <input matInput placeholder="" formControlName="streetNo">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Street</mat-label>
    <input matInput placeholder="" formControlName="street">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Subrub</mat-label>
    <input matInput placeholder="" formControlName="subRub">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>City/Town</mat-label>
    <input matInput placeholder="" formControlName="city">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>State</mat-label>
    <input matInput placeholder="" formControlName="state" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Post Code</mat-label>
    <input matInput placeholder="" formControlName="postCode" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Contact Person</mat-label>
    <input matInput placeholder="" formControlName="contactPerson">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Mobile</mat-label>
    <input matInput placeholder="" formControlName="mobile">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="" formControlName="phone">
  </mat-form-field>  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="" formControlName="email">
  </mat-form-field>  <mat-form-field class="example-full-width">
    <mat-label>Pickup Instruction</mat-label>
    <input matInput placeholder="" formControlName="pickupInstruction">
  </mat-form-field>
</div>
</form>