
<form [formGroup]="reciver">
    <div class="Row">

      <mat-form-field>
        <mat-select required  formControlName="country">
          <mat-option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}}</mat-option>
        </mat-select>
        <mat-label>Country</mat-label>
      </mat-form-field> 

      <mat-form-field>
        <input matInput formControlName="Name" [matAutocomplete]="auto"/>
         <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let name of filteredNames" [value]="name.id">
            {{ name.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-label>Name</mat-label>
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width">
         <mat-label>Find Address</mat-label>
         <input matInput placeholder=""  formControlName="findAddress">
      </mat-form-field> -->

      <mat-form-field class="example-full-width">
        <mat-label>Building</mat-label>
        <input matInput placeholder=""  formControlName="building">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Street No.</mat-label>
        <input matInput placeholder=""  formControlName="streetNo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Street</mat-label>
        <input matInput placeholder=""  formControlName="street">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Subrub</mat-label>
        <input matInput placeholder=""  formControlName="subRub">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>City/Town</mat-label>
        <input matInput placeholder=""  formControlName="city">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder=""  formControlName="state">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Post Code</mat-label>
        <input matInput placeholder=""  formControlName="postCode">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Contact Person</mat-label>
        <input matInput placeholder=""  formControlName="contactPerson">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Mobile</mat-label>
        <input matInput placeholder=""  formControlName="mobile">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <input matInput placeholder=""  formControlName="phone">
      </mat-form-field> 
      
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder=""  formControlName="email">
      </mat-form-field> 
      
      <mat-form-field class="example-full-width">
        <mat-label>Pickup Instruction</mat-label>
        <input matInput placeholder=""  formControlName="pickupInstruction">
      </mat-form-field>
      <br>

      <section class="example-section">
        <mat-checkbox formControlName="signatureRequired" class="example-margin">Signature Required</mat-checkbox>   
      </section>
      
    </div>
    </form>